<!DOCTYPE html>
<html>
<head>
	<title>Index Page</title>
</head>
<body>

<center>
	<h1> Welcome to Online Rent Car Site <h1> <br><br>
	<a href="/login">Login</a> <br>
	<a href="/registration">Registration</a>
</center>
	
</body>	
</html>