<!DOCTYPE html>
<html>
<head>
	<title>Registration Page</title>
</head>
<body>
	<h1>Registration Page</h1>
	<form method="post">
		Type<br>			<input type="radio" name="type" value="admin"> Admin<br> 
  							<input type="radio" name="type" value="member"> Member<br>
		Name<br>			<input type="text" name="name" > <br>	
		Username<br>		<input type="text" name="uname" > <br> 
		Gender<br>			<input type="radio" name="gender" value="male"  checked> Male<br>
  							<input type="radio" name="gender" value="female"> Female<br>
  							<input type="radio" name="gender" value="other"> Other <br>
		Contact no<br> 		<input type="text" name="contact" > <br> 
		E-mail<br> 			<input type="text" name="mail" > <br> 
		Password<br> 		<input type="password" name="password" ><br> 
		Confirm Password<br><input type="password" name="cpassword" ><br>
		<input type="submit" name="submit" value="Register" >
	</form>
</body>
</html>